canvas {
    border-style: solid;
    border-width: 2px;
    border-color: #010101;
}
body {
    text-align: center;
    background-color: #010101;

}

h1 {
    color: #8122af;
    font-family: "Andale Mono";
}

#p1{
    color: #8122af;
}


